/* All*/
* {
    /* border: 2px solid black;*/ 
    margin: 0; 
    padding: 0; 
    font-family: Century Gothic;

}
/*body*/
body{
    background-color: rgb(253, 188, 132);
    background-size: cover; 
    height: 100vh; 
    width: 100vw;
    overflow: hidden; 

}

/*main container*/
#container-getstarted{
  top:-10px;
  height: 65%;
  width: 40%; 
  border: 3px solid white;
  border-radius: 5%;
  margin: 100px auto;
  position: relative;
  text-align: center;
  display: flex; 
  flex-direction: column;
  align-items: center;
  min-width: 480px;
  
}
/*container for dotted logoen*/
.dottedcontainer {
  width: 100%;
}
/*plassering og størrelse til containeren logoen ligger i*/
#task_logo{
  left:410px;
  width: 160px;
  position: absolute;
  top: -65px;
  left: 20px;
}
/*plassering og størrelse på header 1*/
#header1{
    font-size: 35px;
    margin-top: 15px;
    font-weight: bolder;  

}
/*plassering og størrelse på header 2*/
#header2{
  font-size: 20px;
  margin-top: 20px; 

}
/* størrelse og plassering på dottene*/
#dotter{ 

  width: 40px;
  float: right;
  margin-right: 20px;
  
}
/* størrelse på containeren til dottene*/
.dottedContainer {
  width: 100%;
}
/* størrelsen og plassering til selve logoen*/
#task_logo{
  left:410px;
  width: 160px;
  position: absolute;
  top: -65px;
  left: 20px;
}
/*Stilsetting/ størrelse / plassering av "Button-GetStartd"*/
#button_getStarted{
  width: 70%;
  background-color: rgb(252, 145, 78);
  border: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 55px;
  border-radius: 110px; 
}
/*størrelse/plassering/farge på "Login" knappen øverst til høyre*/
#login_getstarted{
  position: relative;
  height: 50px;
  width: 100px;
  border: solid; 
  background-color: white; 
  font-size: 20px;
  cursor: pointer; 
  top: 20px; 
  left: 90%;
  border-radius: 15px;
}




