body {
    background-image: linear-gradient(to bottom right,rgb(253, 188, 132),rgb(223, 158, 102),rgb(223, 158, 102),rgb(50,50,50));
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
#main_container{
    height:75%;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#Task_logo{
    height: 175px;
    justify-content: center;
    align-content: center;
    
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;   
}

#login{
    border: inset;
    width:30%;
    background-color: rgb(253, 188, 132);
    box-shadow:3px 3px rgb(0,0,0);
};