body {
    margin:0;
    font-family: Century Gothic;
}

.lastpage_maincontainer{
    display: flex;
    flex-direction: row; 

}

.boxes{
    display: flex; 
    flex-direction: column;
    width: 15%;
    border: 1px #ccc solid; 
    background-color: #cccc;
    font-family: Century Gothic;
    text-align: center;
    overflow-y: scroll;
    height:100vh;
    border-radius: 10px;
    align-items: center;
    align-content: center;
}

::-webkit-scrollbar {
    display: none;
}

.boxes div{
    /*border: 1px #cccc solid; */
    padding: 10px; 
    margin: 10px;
    align-content: center;
    text-align: center;

}

.boxes p{

    margin-left: -45px;
}
.initials {
    background: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color: rgb(252, 145, 78);
    margin-left: 50px;
}
.deletebuttonclass{
    height: 20px;
    width: 20px;
    margin-left: -50px;
}
.hidden {
    display: none;
}
#economy_button{
    height: 50px;
    width: 70px;    
}
#lastpage_shoppinglist{
    display: flex;
    flex-direction: column;
    /*border: 1px black solid;*/
    border-radius: 40px; 
    text-align: center;
    align-items: center;
    width: 30%;
    flex: start;
    background-color: #cccc;
    min-height: 350px;
    margin-left: 350px;
    margin-top: 200px;
}

.itemDivClass{
    background-color: rgb(252, 145, 78);
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
}
#lastpage_therest{
    width: 100%;
}

input {
    width: 45%;
    margin: 0;
    padding: 0;
}
#graphdiv{
    height:420px;
    width: 420px;
    margin-left: 1100px;
    margin-top: -380px;
}
#headereconomy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    background-color: rgb(253,188,132);
    border-bottom: black 1px solid;
    border-right: black 1px solid;
    border-left: black 1px solid;
}
#tasklogoeconomy{
    height: 140px;
    margin-top: 27px;
    
}

#lastpage_returnbuttondiv{
    height: 200px;
    width: 150px; 
    position: absolute;
    right: 1px;
    /*margin-top: 120px;*/
    /*padding-left:1300px;*/
    
    
   

} 

#lastpage_returnbutton{
    border: black 1px solid;
    border-radius: 20%;
    background-color: lightgray;
    position: relative;
    top: 120px;
}


ul{
    position: absolute;
    width: 15%;
    height: 100%;
    top: 71%;
    left: 5%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: block;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3);
}
ul li{
    list-style: none;
    text-align: center;
    display: block;
    margin: 80px 0;
}

ul li a:last-child{
    border-right: 1px solid rgba(0,0,0,0.2);
}

ul li a{
    text-decoration: none;
    padding: 0 50px;
    display: block;
}

ul li a .icon{
    width: 40px;
    height: 40px;
    text-align: center;
    background: #ccc;
    overflow: hidden;
    margin: 0 auto 10px;
}

ul li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: #000;
}

ul li a:hover .icon .fa:last-child{
    color: rgb(253,188,132);
}

ul li a:hover .icon .fa{
    transform: translateY(-100%);
}

ul li a .name{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
}

ul li a .name span{
    display: block;
    position: relative;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    transition: 0.5s;
    overflow: hidden;
}

ul li a .name span:before{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(253,188,132);
}

ul li a:hover .name span {
    transform: translateY(20px);
}
