.SisteSide_Maincontainer{
    display: flex;
    flex-direction: row; 

}

.boxes{
    display: flex; 
    flex-direction: column;
    width: 15%;
    border: 1px #ccc solid; 
    background-color: #cccc;
    font-family: Century Gothic;
    text-align: center; 
     
}

.boxes div{
    border: 1px black solid; 
    padding: 10px; 
    margin: 10px;
    align-content: center;
    text-align: center;

}
.initials {
    background: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color: red;
}
.hidden {
    display: none;
}

    