/* body */
body{
    overflow: hidden;
    padding: 0;
    margin:0;
}

/* main contaienr*/
#side2_main{
    display: flex;
    flex-direction: row;
}
/*størrelse på de to sidene i main-containeren*/
.side2_side{

    height: 100vh;
    width: 50%;    
}
/* bakgrunnsfargen på venstre side*/
#side2_leftSide{
    background-color:  rgb(253, 188, 132);
    
}
/* Bakgrunnsfargen på høyre side*/
#side2_rightSide{
    background-color: #90D3F6;
}
/* størrelse/plassering/bakgrunsfarge på venstre side */
#side2_wrap{

    top: 15%;
    left:6%;
    width:65%;
    align-content: center;
    border: 1px rgb(253, 188, 132) solid;
    text-align: center;
    position: relative;
    padding-left:10px;
    padding-right: 55px;    
}
/*størrelse/font på header 1*/
#side2_header1{
    white-space: nowrap;
    font-size: 42px;
    font-family: Century Gothic;
    top: 0px;
}
/*størrelse/font på header 2*/
#side2_header2{
    font-size: 25px;
    position: relative;
    font-family: Century Gothic;
    top: -35px;
    left: 10px;
    white-space: nowrap;
}
/* størrelsen og plassering av containeren registreings 'form' ligger i*/
.side2_loginpage{
    width: 360px;
    padding: 0 0 0; 
    margin-left: -25px;
    margin-top: -30px;
}
/* størrelse og plassering av form-boksene*/
.form{
    position: relative;
    z-index: 1; 
    background: rgb(253, 188, 132);
    max-width: 250px;
    margin: 0 auto 100px;
    padding: 45;
    text-align: center; 
}
/* font/størrelse på skriften i form-boksene*/
.form input{
    font-family: "Roboto", sans-serif;
    outline: 1; 
    background: #f2f2f2;
    width: 150%;
    border: 0;
    margin: 0 0 15px;  
    padding: 15px;
    box-sizing: border-box; 
    font-size: 14px;

}
/* Knappen som tar deg videre til login*/
#button_next{
    font-family: Century Gothic;
    text-transform: uppercase;
    outline: 0; 
    background: #f48942;
    width: 150%;
    border: 2px black solid;
    border-radius: 45px;
    padding: 10%;
    color: black; 
    font-size: 20px; 
    cursor: pointer; 
}
/*gir deg en annen variant av oransje farge på videre knappen*/
.form button:hover, .form button:active{
    background: rgb(244, 122, 65);
}
/*størrelsen på "alreadey registred" knappen*/
.side2_messeage{
    margin: 15px 0 0; 
    font-size: 12px;
}




