.body{
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    top: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;

}

.head{

    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
}   

.header div{

    float: left;
    color: #ffff;
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    font-weight: 200;
}

.header div span{
    color: #f29e20
}

.login{

    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;

}

.login input [type=text]{
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0, 6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    padding: 4px;
}

.login input [type=button]:hover{
    
}