*{
    /*border: 1px black solid;*/
}

body{
    overflow: hidden;
    padding: 0;
    margin:0;
}

#side2_main{
    display: flex;
    flex-direction: row;
}

.side2_side{

    height: 100vh;
    width: 50%;    
}

#side2_leftSide{
    background-color:  rgb(253, 188, 132);
    
}

#side2_rightSide{
    background-color: #90D3F6;
}

#side2_wrap{

    top: 15%;
    left:6%;
    width:65%;
    align-content: center;
    border: 1px rgb(253, 188, 132) solid;
    text-align: center;
    position: relative;
    padding-left:10px;
    padding-right: 55px;    
}

#side2_header1{
    white-space: nowrap;
    font-size: 42px;
    font-family: Century Gothic;
    top: 0px;
}

#side2_header2{
    font-size: 25px;
    position: relative;
    font-family: Century Gothic;
    top: -35px;
    left: 10px;
    white-space: nowrap;
}

.side2_loginpage{
    width: 360px;
    padding: 0 0 0; 
    margin-left: -25px;
    margin-top: -30px;
}

.form{
    position: relative;
    z-index: 1; 
    background: rgb(253, 188, 132);
    max-width: 250px;
    margin: 0 auto 100px;
    padding: 45;
    text-align: center; 
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1; 
    background: #f2f2f2;
    width: 150%;
    border: 0;
    margin: 0 0 15px;  
    padding: 15px;
    box-sizing: border-box; 
    font-size: 14px;

}

.form button{
    font-family: Century Gothic;
    text-transform: uppercase;
    outline: 0; 
    background: #f48942;
    width: 150%;
    border: 2px black solid;
    border-radius: 45px;
    padding: 10%;
    color: black; 
    font-size: 20px; 
    cursor: pointer; 
}

.form button:hover, .form button:active{
    background: rgb(244, 122, 65);
}

.side2_messeage{
    margin: 15px 0 0; 
    font-size: 12px;
}




