body{
    background-color: rgb(223, 130, 130);
    height: 100vh;
    width: 100vw;
    margin-left:0;
    margin-top:0;
}
.drag_logo{
    width: 336px;
    height:125px;
    margin: 5px;
}
#to_do_column{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#img_container{
    display: flex;
    justify-content: space-between;
}
#mainpage_maincontainer{
    height: 100%;
    border-left: 5px solid green;
}
#mainpage_button1{
    height: 50px;
}
#newbox1 {
    min-height: 800px;
    min-width: 350px;
    background-color: aquamarine;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-right: 100px;
}