body{
    background-color: rgb(223, 130, 130);
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}
.mp_box{
    width: 350px;
    height: 130px;
    padding:10px;
    border: 5px solid rgb(223, 130, 130);
    background-color: black;
}
#drag_logo{
    width: 336px;
    height:125px;
}
#to_do_column{
    display: flex;
    flex-direction: column;
    
}