body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    display: block;
}

ul li{
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0,0,0,0.2);
    margin: 70px 0;
}

ul li a:last-child{
    border-right: 1px solid rgba(0,0,0,0.2);
}

ul li a{
    text-decoration: none;
    padding: 0 50px;
    display: block;
}

ul li a .icon{
    width: 40px;
    height: 40px;
    text-align: center;
    background: #ccc;
    overflow: hidden;
    margin: 0 auto 10px;
}

ul li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: #000;
}

ul li a:hover .icon .fa:last-child{
    color: #e91e63;
}

ul li a:hover .icon .fa{
    transform: translateY(-100%);
}

ul li a .name{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
}

ul li a .name span{
    display: block;
    position: relative;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    transition: 0.5s;
    overflow: hidden;
}

ul li a .name span:before{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left 0;
    width: 100%;
    height: 100%;
    color: #e91e63;
}

ul li a:hover .name span{
    transform: translateY(20px);
}

